body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/another.jpg");
  background-size: 100%;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 24px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: rgb(183, 29, 29);
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}
.headerContainer {
  grid-area: header;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5 40px 5 40px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background:white;
}

.header-left input{
  height: 40px;
  width: 400px;
  border: none;
  outline: none;
  font-size: 15px;
  color: rgb(255, 255, 255);

}
.icon{
  color: #ffffff;

}

.header-right{
  color: rgb(255, 255, 255);
}

.dropdown-menu {
  position: absolute;
  top: 40px; /* Adjust to position below the icon */
  right: 0;
  color: white;
  background-color: rgb(135, 136, 169);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1; /* Ensure the dropdown appears above other content */
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 9px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
}

.dropdown-menu button:hover {
  background-color: #737171;
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebarContainer {
  grid-area: sidebar;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  
}

.sidebar-title {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  color: #18314b;
}

.sidebar-list-item:hover {
  background-color: rgba(44, 37, 37, 0.2);
  cursor: pointer;
  color: #000000;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
.icon{
  color: #18314b;
}
 
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(214, 214, 214, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}


.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebarContainer {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.project-card {
  background-color: #163755;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}


.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.project-card p {
  margin: 0 0 10px;
}

.project-card .status {
  padding: 5px 10px;
  border-radius: 3px;
}

.status.completed {
  background-color: #24894c;
}

.status.in-progress {
  background-color: #a6a41f;
}

.status.pending {
  background-color:#b81f31 ;
}
/* 
.status.almostdone {
  background-color: #8b114e;
} */

/* General Layout */
.main-container {
  padding: 15px;
  
}

.form-container {
  background: rgb(248, 248, 248);
  color: #18314b;
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input {
  width: 40%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#employee,#project,#start-date,#end-date,#proj-desc{
  background-color: #fffefe;
  border-color: #248989;
  color: rgb(10, 10, 10);
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #1a1d4d;
  font-weight:600;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type='submit']:hover {
  background-color:#203c65;
}

.allocations-list {
  background:rgb(248, 248, 248) ;
  color: #18314b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.allocations-list h4 {
  margin-bottom: 20px;
}

.allocations-list ul {
  list-style-type: none;
  padding: 0;
}


#edit{
  padding: 3px 10px;
  margin-right: 20px;
  margin-top: 15px;
  background-color: #1a1d4d;
  font-weight:600;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

#confirm{
  padding: 3px 10px;
  background-color: #1a1d4d;
  font-weight:600;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.main-title{
  color: #000000;
  margin-bottom: 20px;
}

.main-container {
  padding: 20px;
}

.sidebar-list-item {
  cursor: pointer;
}

.sidebar-list-item a {
  text-decoration: none;
  color: inherit;
}

/* Annual Reports */



.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color:  #248989;
}

.card:nth-child(2) {
  background-color: #475d75;
}

.card:nth-child(3) {
  background-color: #0c0a38;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.chart-description {
  margin-left: 20px;
  max-width: 45%;
  
}

.chart-description h4 {
  margin-bottom: 10px;
}
